<!DOCTYPE html>
<html>
  <head>
    <title>TheNaturalCurl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" type="image/jpeg" href="../assets/images/beauty.jpg">

    <link href="https://fonts.googleapis.com/css?family=Raleway|Righteous" rel="stylesheet">
    <header>
     <h1><a href="/" title="">The Natural Curl</a></h1>
      <ul class="liStyle">
       <li class="dropDown">
            Hair Care
           <div class="dropDownContent">
            <a href="/posts?post_category=washing" title="">Washing</a><hr>
            <a href="/posts?post_category=add_moisture" title="">Adding Moisture</a><hr>
            <a href="/posts?post_category=drying" title="">Drying</a><hr>
            <a href="/posts?post_category=cutting" title="">Cutting</a>
           </div>
       </li>
        <li><a href="/posts?post_category=styling" title="">Styling</a></li>
        <li><a href="/posts?post_category=products" title="">Products</a></li>
        <!-- <li><a href="/posts?post_category=facts" title="">TLC</a></li> -->
        <li><a href="/pages/inspiration" title="">Inspiration</a></li>
        <!-- <li><a href="/posts?post_category=forum" title="">Forum</a></li> -->
      </ul>
    </header>

    <%= yield %>


    <footer>
      <div class="footer">
        <p class="pfooter">&copy; 2017 | Made with <span class="heart"> &hearts; </span> by <span class="logo"><%= image_tag("logo.png") %></span></p>
      </div>
    </footer>


